* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(to right top, #9050de,#7dc0f0);
    /*background: linear-gradient(to right top, rgba(100,0,0,0.7), rgba(0,120,0,0.2));*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );
    border-radius: 1.5rem;
    display:flex;
    flex-direction: column;
    border-style: solid;
    border-width: 0.7em;
    border-color: rgba(255, 255, 255,0.8);
}

.top {
    flex: 1;
    background-color: rgba(232, 232, 232,0);
    border-radius: 1.5rem 1.5rem 0rem 0rem;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.stopwatch {
    display: flex;
}

.bottom {
    display: flex;
    flex-direction: row;
    flex: 9;
}

.nav {
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align: center;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex: 1;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.media_player {
    border-radius: 1.5rem 1.5rem 0rem 1.5rem;
    flex: 1;
  }
  
.focus {
    background: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.2)
    );
    flex: 5;
    align-content: center;
}

.tasklist {
    background-color: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );
    flex: 2;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

#tasklist {
    list-style-type: none;
  }
  
  form {
    text-align: center;
  }
  
  .testDiv {
    width:10em;
    text-align: center;
    background-color: green;
    padding: 0.4em;
  }
  
  .formDiv {
    margin: 2em;
    line-height: 2em;
    background-color: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );
    border-radius: 1em;
    border-style: inset;
  }

  

  .red_square, .blue_square, .green_square {
      text-align: center;
      width: 28rem;
      height:28rem;
  }

  .red_square {
      background-color: lightcoral;
      
      position: absolute;
      z-index: 6;
  }

  .blue_square {
      background-color: lightgray;
      
      position: absolute;
      z-index: 5;
  }

  .green_square {
      background: lightskyblue;
      z-index: 7;
      position: absolute;
  }