* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(to right top, #9050de,#7dc0f0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );
    border-radius: 1.5rem;
    display:flex;
}

.nav {
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align: center;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex: 1;
}

.focus {
    background: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255, 0.4), 
        rgba(255, 255, 255, 0.2)
    );
    flex: 5;
}

.tasklist {
    background-color: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );;
    flex: 2;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

#tasklist {
    list-style-type: none;
  }
  
  form {
    text-align: center;
  }
  
  .testDiv {
    width:10em;
    text-align: center;
    background-color: white;
    padding: 0.4em;
  }
  
  .formDiv {
    line-height: 2em;
    padding:2em;
    background-color: #b6c1de;
    border-radius: 1em;
  }

  .media_player {
    border-radius: 1.5rem 1.5rem 0rem 1.5rem;
  }

  .red_square, .blue_square, .green_square {
      align-items: center;
  }

  .red_square {
      background-color: red;
      width: 4rem;
      height: 4rem;
      position: absolute;
      z-index: 6;
  }

  .blue_square {
      background-color: blue;
      width: 4rem;
      height: 4rem;
      position: absolute;
      z-index: 5;
  }

  .green_square {
      background: green;
      width: 4rem;
      height: 4rem;
      position: absolute;
  }