* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100vh;
    background: linear-gradient(to right top, #aebbfc,#e2b9ed);
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame {
    background: white;
    min-height: 90vh;
    width: 80%;
    background: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );
    border-radius: 1.5rem;
    display:flex;
}

.nav {
    background-color: white;
    flex: 1;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    text-align: center;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
}

.focus {
    background-color: pink;
    flex: 4;
}

.tasklist {
    background-color: linear-gradient(
        to left bottom, 
        rgba(255, 255, 255,0.7), 
        rgba(255,255,255,0.5)
    );;
    flex: 1;
    border-radius: 0rem 1.5rem 1.5rem 0rem;
}

#tasklist {
    list-style-type: none;
  }
  
  form {
    text-align: center;
  }
  
  .testDiv {
    width:10em;
    text-align: center;
    background-color: lightgrey;
    padding: 0.4em;
  }
  
  .formDiv {
    line-height: 2em;
    padding:2em;
    background-color: #b6c1de;
    border-radius: 1em;
  }

  .media_player {
    border-radius: 1.5rem 1.5rem 0rem 1.5rem;
  }
